.text-sm {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-base {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.font-semibold {
  font-weight: 600;
}
